.arhive-head {
  padding: 20px 0;  
  background: #f5f5f5;  
  margin-bottom: 40px;
  .archive-title {
    text-align: center;
    font-weight: normal;
	margin-bottom: 0px !important;
    
    span {
      font-weight: 700;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}